body{
    display: flex;
    margin: 0;
    padding: 0;
}
.box1{
    line-height: normal;
    text-align: center;
    display:block;
    background-attachment: fixed;
    background-color: beige;
    top:  0;
    height: 90px;
    width: 100%;
    position: absolute;
    cursor: pointer;
}
.box2{
    background-attachment: scroll;
    background-color:azure;
    width: 100%;
    position: float;
    background-image: url(anime.jpg);
    background-size: cover;
    padding: 20px;
    text-decoration: none;
}
.box3{
    background: white;
    display:block;
    text-align: center;
    padding: 20px;
    
}